
body {
    display: grid;
  grid-template-columns: 20% 50% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-image: url("https://wallpaperaccess.com/full/151205.jpg")
}

h1 {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    color: white;
    
}
img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    margin: auto;
}

#player1 {

    grid-column-start: 1;
    grid-row-start: 3;
    
    width: 120px;
    height: 120px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 104%;
    grid-template-rows: 30% 75%; 
       
}
.playerName {
    color: white;
    width: 100%;
    background-color: blue;
    line-height: 40px;
    font-size: 20px;
}
.score {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 2;
    color: white;
    background-color: black;
    line-height: 85px;
    font-size: 50px;
}




#player2 {
    grid-column-start: 3;
    grid-row-start: 3;
    width: 120px;
    height: 120px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 104%;
    grid-template-rows: 30% 75%;
    
}
.player2Name {
    color: white;
    width: 100%;
    background-color: red;
    line-height: 40px;
    font-size: 20px;
}
.score2 {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 2;
    color: white;
    background-color: black;
    line-height: 85px;
    font-size: 50px;
}

#game {
    grid-column-start: 2;
    grid-row-start: 4;
    width: 555px;
    height: 510px;
    margin: auto;
    background-color: rgb(255, 238, 0);
    border: 5px solid black;
}
.cell {
    border: 5px solid white;
    border-radius: 50%;
    margin: 2px;
    width: 65px;
    height: 65px;
    float: left;
    padding-top: 5px;
    text-align: center;
    font-family: 'Chewy', cursive;
    font-size: 800%;
    color: #b2ffb2;
    background-color: black;
}

.row {
    box-sizing: 
}

#newGame {
    grid-column-start: 2;
    grid-row-start: 5;
    width: 140px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 150%;
    color: black;
    margin: 50px 0px 110px 200px;
}
#newGame:hover {
    cursor: pointer;
    background-color: rgb(0, 60, 255);
    color: rgb(255, 0, 89);
}